<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" />
    </ion-buttons>
    <ion-title>{{ 'device_info_title' | transloco }}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (isInitializing) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-skeleton-text [animated]="true" style="width: 60%" />
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-skeleton-text [animated]="true" style="width: 40%" />
        <ion-skeleton-text [animated]="true" style="width: 50%" />
        <ion-skeleton-text [animated]="true" style="width: 80%" />
      </ion-card-content>
    </ion-card>
    <div class="action-buttons">
      <ion-skeleton-text [animated]="true" style="width: 100%; height: 36px; margin-bottom: 8px" />
      <ion-skeleton-text [animated]="true" style="width: 100%; height: 36px; margin-bottom: 8px" />
      <ion-skeleton-text [animated]="true" style="width: 100%; height: 36px; margin-bottom: 8px" />
      <ion-skeleton-text [animated]="true" style="width: 100%; height: 36px" />
    </div>
  }

  @if (!isInitializing && lookupService.device; as device) {
    <ion-card class="device-card">
      <ion-card-header>
        <ion-card-title>{{ device.name }}</ion-card-title>
        <ion-card-subtitle>{{ sn }}</ion-card-subtitle>
      </ion-card-header>
      @if (registrationService.userData; as user) {
        <ion-card-content>
          <ion-item>
            <ion-label position="stacked">{{ 'device_info_user_name' | transloco }}</ion-label>
            <ion-input readonly [value]="user['firstName'] + ' ' + user['lastName']" />
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ 'device_info_user_address' | transloco }}</ion-label>
            <ion-input readonly [value]="user['streetName'] + ' ' + user['homeNumber']" />
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ 'device_info_user_city' | transloco }}</ion-label>
            <ion-input readonly [value]="user['postCode'] + ' ' + user['city']" />
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ 'device_info_user_phone' | transloco }}</ion-label>
            <ion-input readonly [value]="user['phoneNumber']" />
          </ion-item>
          @if (user['warrantyStatus'] === 'in_warranty') {
            @if (registrationService.getPurchaseDateFormatted(); as purchaseDate) {
              <ion-item>
                <ion-label position="stacked">{{ 'device_info_purchase_date' | transloco }}</ion-label>
                <ion-input readonly [value]="purchaseDate" />
              </ion-item>
            }
            @if (registrationService.getWarrantyEndDateFormatted(device); as warrantyEnd) {
              <ion-item>
                <ion-label position="stacked">{{ 'device_info_warranty_until' | transloco }}</ion-label>
                <ion-input readonly [value]="warrantyEnd" />
              </ion-item>
            }
          }
        </ion-card-content>
      }
    </ion-card>

    @if (needsConnectedDevice) {
      <ion-card>
        <ion-card-content>
          <p class="connected-label">{{ 'connected_device_title' | transloco }}</p>
          <div class="connected-row">
            <ion-item class="connected-input">
              <ion-input [(ngModel)]="connectedSnInput"
                         [placeholder]="'connected_device_sn_placeholder' | transloco"
                         maxlength="21"
                         [clearInput]="true" />
            </ion-item>
            <ion-button fill="outline" color="primary" class="connected-scan"
                        (click)="scanConnectedBarcode()">
              <ion-icon slot="icon-only" name="barcode-outline" />
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    }

    <div class="action-buttons">
      @if (registrationService.isRegistered !== true) {
        <ion-button expand="block" fill="outline" (click)="onAddUser()"
                    [disabled]="isSearchingConnected">
          @if (isSearchingConnected) {
            <ion-spinner name="crescent" slot="start" class="button-spinner" />
          } @else {
            <ion-icon name="person-add-outline" slot="start" />
          }
          {{ 'device_info_add_user' | transloco }}
        </ion-button>
      }

      @if (device.commissioning && !isCommissioningDone && registrationService.userData?.['warrantyStatus'] === 'in_warranty') {
        <ion-button expand="block" fill="outline" (click)="onCommissioning()"
                    [disabled]="registrationService.isRegistered !== true">
          <ion-icon name="build-outline" slot="start" />
          {{ 'device_info_commissioning' | transloco }}
        </ion-button>
      }

      @if (device.annualService) {
        <ion-button expand="block" fill="outline" (click)="onAnnualService()"
                    [disabled]="!isAnnualServiceEnabled"
                    *appFeatureFlag="'deviceManagement'">
          <ion-icon name="construct-outline" slot="start" />
          {{ 'device_info_annual_service' | transloco }}
        </ion-button>
      }

      <ion-button expand="block" fill="outline" (click)="onIntervention()"
                  [disabled]="!isOperational"
                  *appFeatureFlag="'deviceManagement'">
        <ion-icon name="hammer-outline" slot="start" />
        {{ 'device_info_intervention' | transloco }}
      </ion-button>

      <ion-button expand="block" fill="solid" color="primary" (click)="onHistory()"
                  [disabled]="!isOperational">
        <ion-icon name="time-outline" slot="start" />
        {{ 'device_info_history' | transloco }}
      </ion-button>
    </div>
  }

  @if (!isInitializing && !lookupService.device) {
    <div class="empty-state">
      <p>{{ 'device_info_not_found' | transloco }}</p>
    </div>
  }
</ion-content>
