ion-card-content ion-item {
  --background: transparent;
  --border-width: 0 0 0.55px 0;
  --inner-border-width: 0;
  --padding-start: 8px;
  --inner-padding-end: 0;
}

ion-select {
  width: 100%;
  max-width: 100%;
}

.save-button {
  margin-top: 10pt;
  margin-bottom: 50pt;
  height: 35pt;
}

ion-item.date-pick-item {
  .date-pick-value {
    width: 100%;
    font-size: 1.1rem;
    padding: 8px 0;
    color: var(--ion-text-color);

    &.placeholder {
      color: var(--ion-color-medium);
    }
  }

  &::part(detail-icon) {
    align-self: center;
  }
}
