<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'signature_title' | transloco }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">{{ 'signature_cancel' | transloco }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="signature-wrap">
    <div class="signature-hint">{{ 'signature_hint' | transloco }}</div>
    <canvas #canvas class="signature-canvas"></canvas>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="clear()">{{ 'signature_clear' | transloco }}</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [strong]="true" (click)="confirm()">{{ 'signature_confirm' | transloco }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
