<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/device-management/' + sn + '/history'" />
    </ion-buttons>
    <ion-title>{{ pageTitleKey | transloco }}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (isLoading) {
    <ion-list>
      @for (i of [1,2,3,4,5,6]; track i) {
        <ion-item>
          <ion-label>
            <h3><ion-skeleton-text [animated]="true" style="width: 30%" /></h3>
            <p><ion-skeleton-text [animated]="true" style="width: 60%" /></p>
          </ion-label>
        </ion-item>
      }
    </ion-list>
  } @else if (notFound) {
    <div class="empty-state">
      <p>{{ 'history_detail_not_found' | transloco }}</p>
    </div>
  } @else {
    <ion-list>
      @for (field of fields; track field.key) {
        <ion-item [class.field-uppercase]="field.key === 'interventionType' || field.key === 'interventionDescription' || field.key === 'interventionFault'">
          <ion-label class="ion-text-wrap">
            <h3>{{ field.labelKey | transloco }}{{ field.labelSuffix ? ' ' + field.labelSuffix : '' }}</h3>
            @if (field.key === 'note' || field.key === 'workDescription' || field.key === 'faultDescription') {
              <ion-textarea readonly [value]="field.translatable ? ('' + field.rawValue | transloco) : '' + field.rawValue" [rows]="5" [autoGrow]="true" />
            } @else {
              <p>{{ field.translatable ? ('' + field.rawValue | transloco) : field.rawValue }}</p>
            }
          </ion-label>
        </ion-item>
      }
    </ion-list>

    @if (canReport) {
      <ion-button expand="block" fill="solid" color="primary" class="report-button"
                  (click)="onReport()">
        {{ 'report_button' | transloco }}
      </ion-button>
    }

    @if (hasEnvInfo) {
      <ion-button expand="block" fill="outline" color="primary" class="env-info-button"
                  (click)="onViewEnvInfo()">
        {{ 'env_info_view_title' | transloco }}
      </ion-button>
    }
  }
</ion-content>
