.loading-state {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  text-align: center;
  color: var(--ion-color-medium);
}

ion-item h3 {
  font-size: 12px;
  font-weight: 500;
  color: var(--ion-color-medium);
}

ion-item p {
  font-size: 16px;
  color: var(--ion-color-dark);
  margin-top: 4px;
}

ion-item.field-uppercase p {
  text-transform: uppercase;
}

.report-button,
.env-info-button {
  margin: 16px;
}
