<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/search-by-device" />
    </ion-buttons>
    <ion-title>Rezervni delovi</ion-title>
    <ion-buttons slot="end">
      @if (configStore.isFeatureEnabled('cart')) {
        <ion-button (click)="navigateTo('/cart')">
          <ion-icon slot="start" name="cart-outline" />
          @if (cartService.itemCount() > 0) {
            <span>{{ cartService.itemCount() }}</span>
          }
        </ion-button>
      } @else {
        <ion-menu-button />
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (partsService.isLoading) {
    <div class="group-photo-skeleton">
      <ion-skeleton-text [animated]="true" style="width: 100%; height: 200px" />
    </div>
    <ion-list>
      @for (i of [1,2,3,4,5]; track i) {
        <ion-item>
          <ion-label>
            <ion-skeleton-text [animated]="true" style="width: 60%" />
          </ion-label>
        </ion-item>
      }
    </ion-list>
  }

  @if (!partsService.isLoading) {
    @if (partsService.groupPhoto) {
      <div class="group-photo">
        <img [src]="partsService.groupPhoto" alt="Group photo" />
      </div>
    }

    @if (partsService.parts.length > 0) {
      <ion-list>
        @for (part of partsService.parts; track part.id) {
          <ion-item lines="full" button (click)="onPartClick(part)">
            <ion-label class="ion-text-wrap">
              {{ part.id }} - {{ part.name }}
            </ion-label>
          </ion-item>
        }
      </ion-list>
    }

    @if (partsService.parts.length === 0) {
      <div class="empty-state">
        <p>Nema pronađenih rezervnih delova za ovaj sklop.</p>
      </div>
    }
  }
</ion-content>
