# Kopiraj u keystore.properties (gitignore-ovan) i popuni stvarnim vrednostima.
# Putanja je relativna prema android/app/build.gradle.
storeFile=../my-release-key.keystore
storePassword=POPUNI_OVDE
keyAlias=POPUNI_ALIAS
keyPassword=POPUNI_OVDE
