<ion-menu contentId="main-content" type="overlay" side="end">
  <ion-header>
    <ion-toolbar [style.--background]="configStore.theme().menuHeaderBackground" color="primary">
      <ion-title class="ion-text-center">{{ 'menu_title' | transloco }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list lines="full">
      <ion-menu-toggle auto-hide="false" *appFeatureFlag="'servicerHistory'">
        <ion-item button (click)="navigateTo('/servicer-history')">
          <ion-icon name="time-outline" slot="start" />
          <ion-label>{{ 'menu_interventions' | transloco }}</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="false" *appFeatureFlag="'bugReport'">
        <ion-item button (click)="navigateTo('/bugs')">
          <ion-icon name="bug-outline" slot="start" />
          <ion-label>{{ 'menu_report_bug' | transloco }}</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-item>
        <ion-icon name="moon-outline" slot="start" />
        <ion-label>{{ 'menu_dark_mode' | transloco }}</ion-label>
        <ion-toggle slot="end" [checked]="themeService.isDarkMode()" (ionChange)="onDarkModeToggle($event)" />
      </ion-item>

      <ion-item>
        <ion-icon name="globe-outline" slot="start" />
        <ion-select [value]="translationService.currentLanguage()"
                    (ionChange)="onLanguageChange($event)"
                    interface="popover">
          @for (lang of translationService.availableLanguages(); track lang) {
            <ion-select-option [value]="lang">{{ translationService.getLanguageLabel(lang) }}</ion-select-option>
          }
        </ion-select>
      </ion-item>

      <ion-menu-toggle auto-hide="false">
        <ion-item button (click)="logout()" lines="none">
          <ion-icon name="log-out-outline" slot="start" />
          <ion-label>{{ 'menu_logout' | transloco }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>

    <div class="menu-footer">
      @if (tenantStore.tenantId(); as tid) {
        <p>Tenant: {{ tid }}</p>
      }
      <p>{{ authStore.userEmail() }}</p>
    </div>
  </ion-content>
</ion-menu>
