ion-title {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px 16px;
  color: var(--ion-color-medium);
  text-align: center;
}
