.search-section {
  padding: 16px;
}

.search-button {
  margin-top: 16px;
  height: 40px;
}

.button-spinner {
  width: 1.35em;
  height: 1.35em;
}

.load-more {
  margin: 8px 16px 32px;
}

.empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  text-align: center;
  color: var(--ion-color-medium);
}

ion-item h2 {
  font-weight: 600;
}

.sn-label {
  font-size: 0.8rem;
  color: var(--ion-color-medium);
  margin-top: 2px;
}
