.img-class{
  width: 100%;
}

.input-item{
  margin-top: 15px;
}

.search-button{
  margin-top: 8pt;
  height: 30pt;
}

.scan-barcode-button{
  margin-top: 8pt;
  height: 30pt;
}

.doc-button{
  margin-top: 8pt;
  height: 30pt;
}

.name-button{
  margin-top: 8pt;
  height: 30pt;
}